header {
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: auto;
  max-width: 1240px;

  nav {
    @include flex-row;
    justify-content: space-between;
    gap: 25px;

    @media screen and (min-width: $breakpoint-desktop) {
      font-size: 24px;
      gap: 57px;
    }

    a {
      font-family: Montserrat;
      font-weight: 500;
      font-size: 12px;
      color: #000000;
      text-decoration: none;
      white-space: nowrap;
      text-align: right;
      text-transform: uppercase;

      @media screen and (min-width: $breakpoint-desktop) {
        font-size: 24px;
        text-transform: capitalize;
      }

      &.active,
      &:hover {
        text-decoration: underline;
      }
    }
  }
  img {
    height: 68px;
    width: 145px;

    @media screen and (min-width: $breakpoint-desktop) {
      width: auto;
    }
  }
}
